---
layout: default
title: kidokun153
date: 2020-02-21
---
<div class="container">
    <h1>post</h1> 
    <ul>
      {% for post in site.posts %}
        <li>
            [{{post.date | date : "%F"}}]<a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

</div>

<div class="container padding-128px">
  <h1>コロナさん</h1> 
  <a href="https://.imgur.com/Rbqbyg8"><img class="img-fluid" src="https://i.imgur.com/Rbqbyg8.png" title="source: imgur.com" /></a>
</div>
<!--2020-04-06-->
<div class="container padding-128px">
  <h1>The Doom</h1> 
  <a href="https://imgur.com/4CvS5jy"><img class="img-fluid" src="https://i.imgur.com/MJCe2s4.png" title="source: imgur.com" /></a>
</div>
<!--Mar 21, 2020-->
<div class="container padding-128px">
    <h1>Bad Luck Kidokun</h1> 
    <a href="https://imgur.com/4CvS5jy"><img class="img-fluid" src="https://i.imgur.com/4CvS5jy.jpg" title="source: imgur.com" /></a>

</div>