---
layout: default
---



<header>
    <div class="row img-padding">
        <div class="col-sm-12">
                <dl class="float-right">
                    <dt class="text-xs-right">created</dt>
                    <dd class="text-xs-right">{{page.date | date : "%F"}}</dd><br class="d-sm-none">
                    <dt class="text-xs-right date-space-keft">last change</dt>
                    <dd class="text-xs-right">{{page.lastchange}}</dd>
                </dl>
        </div>
    </div>
</header>

<div>
{{ content }}
</div>



<!--
 return 
<a href="javascript:history.back()" role="button" class="btn btn-danger"><i class="fas fa-undo"></i> Return</a>
 class="date-space"
  class="float-right"
-->