---
layout: default
---

<!-- return -->
<a href="javascript:history.back()" role="button" class="btn btn-danger"><i class="fas fa-undo"></i> Return</a>

<header>
    <div class="row img-padding">
        <div class="col-sm-12">
                <dl class="float-right">
                    <dt>created</dt>
                    <dd>{{page.date | date : "%F"}}  </dd>
                    <dt class="date-space">last change</dt>
                    <dd>{{page.lastchange}}</dd>
                </dl>
        </div>
        </div>
    
</header>

<div>
{{ content }}
</div>



<!--
 
-->