---
layout: default
---

<!--title-->
    <h1>{{page.title}}</h1>

<article>

    <header>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <dic class="text-right">
                    <dl>
                        <dt>created</dt>
                        <dd>{{page.date | date : "%F"}}  </dd>
                        <dt class="date-space">last change</dt>
                        <dd>{{page.lastchange}}</dd>
                    </dl>
                </dic>
            </div>
          </div>
       
    </header>

    <div>
    {{ content }}
    </div>

</article>


<!--
 
-->